body {
	background-color: black;
	}
.header {
	background-color: Yellow;
}
.section {
	
}
.footer {
	background-color: white;
	color: black;
}
p {
	color: #fff;
	}
h1 {
	color: red;
	front-size: 50px;
	}
h3	{
	background-color: black;
	color: white;
}
.orange {
	color: orange;
	background-color: gray;
	}
.blue {
	color: blue;
	background-color: gray;
}	
.brown {
	color: yellow;
	background-color: gray;
}